.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .dialog img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.dialogsItems .active {
    color: white;
}

.notMyMessage {
    padding: 10px;
}

.notMyMessage img {
    width: 50px;
    height: 50px;
    border-radius: 30px; 
}

.myMessage {
    padding: 10px;
    margin-left: 600px;
}

.myMessage img {
    width: 50px;
    height: 50px;
    border-radius: 30px; 
}

.messages .message {

}

